# Ignore everything in the root of the repo so that files can be explicitly
# whitelisted.
/*

# Directories
!.husky/

# Files
!.commitlintrc.json
!.eslintignore
!.eslintrc.json
!.gitignore
!.prettierrc.js
!package-lock.json
!package.json
!tsconfig.json
